.heading {
  font-weight: 650;
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.AddTodo {

  widtH : 100%;
}

.Kg-button {

  min-width: 90px;
}

.Kg-row {

  margin :10px;
  min-width: 800px;
}

.kg-container{

  text-align: left;
  max-width: 1000px;
}

.borderContainer {

  border : 2px solid black;
  max-width: 1000px;
  text-align: center;
  
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center; 
}